/*
    table of content
        1. reset
            1.1. color
            1.2. font family
        2. utility
        2. button
        2. heading
        2. header
        2. banner
        2. responsive
*/

/* reset  */
:root {
    /* color */
    --primary: #A53DFF;
    --dark: #333333;
    --pure: #fff;
    --paragraph: #87909D;
    --fade: #F6EBFE;
    --gray1: #424E60;
    --gray2: #697484;
    --gray3: #F0F1F3;

    /* font family  */
    --primary-font: 'Work Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}
ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
p {
    color: var(--paragraph);
}

/* utility */
.py-100 {
    padding: 100px 0;
}
.pb-100 {
    padding-bottom: 100px;
}
.shadow-img {
	box-shadow: 0px 24px 116px rgba(43, 56, 76, 0.09);
	border-radius: 25px;
    position: relative;
}
.shadow-img-pure {
    background-color: var(--pure);
}
.shadow-img-fade {
    background-color: var(--gray3);
}

/* button  */
.cs_btn {
    border-radius: 4px;
    padding: 10px 15px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: relative;
}
.cs_btn-secondary:hover,
.cs_btn-primary {
    background: var(--primary);
    color: #fff;
}
.cs_btn-primary:hover,
.cs_btn-secondary {
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}
.cs_btn-icon img {
	height: 20px;
	position: absolute;
	width: 20px;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
}
.cs_btn-secondary:hover .download-icon {
    display: none;
}
.cs_btn-secondary .download-icon-pure {
    display: none;
}
.cs_btn-secondary:hover .download-icon-pure {
    display: inline-block;
}
.cs_btn-secondary span {
    padding-left: 20px;
}

/* heading  */
.main-heading {
    font-size: 55px;
    font-weight: 600;
}
.heading3 {
	font-size: 38px;
	line-height: 50px;
    font-weight: 600;
}

/* header  */
.header {
    background: var(--pure);
}
.header .main-menu ul li {
    display: inline-block;
}
.header .main-menu ul li a {
    color: var(--dark);
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 4px;
    text-transform: capitalize;
}
.header .main-menu ul li:last-child a,
.header .main-menu ul li a:hover {
    background: var(--primary);
    color: var(--pure);
}

/* banner  */
.banner {
    position: relative;
}
.banner-bg1,
.banner-bg2 {
	position: absolute;
	width: 200px;
	height: 200px;
	filter: blur(300px);
    z-index: -999;
}
.banner-bg1 {
	right: 0;
	top: 0;
	background: rgba(218, 77, 241, 0.4);
}
.banner-bg2 {
	right: 0;
	bottom: 0;
    background: rgba(196, 245, 233, 0.7);
}
.banner .counter-sec .item {
	background: var(--fade);
	padding: 10px 0;
	text-align: center;
}
.banner .wrapper:first-child .item {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.banner .wrapper:last-child .item {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.banner .counter-sec .item h3 {
	font-size: 32px;
    color: var(--gray1)
}
.banner .counter-sec .item span {
    color: var(--gray2);
}

/* profile */
.profile-sec {
    position: relative;
}
.profile-sec .profile-box {
	background: var(--pure);
	box-shadow: 0px 36px 105px rgba(43, 56, 76, 0.1);
	border-radius: 16px;
	padding: 60px 90px;
}
.profile-sec .social-list {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: var(--pure);
	box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
	border-radius: 4px;
	padding: 12px 6px;
	width: 220px;
}
.profile-sec .social-list ul li {
 display: inline-block;
}
.profile-sec .social-list ul li a {
	box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
	border-radius: 4px;
	padding: 4px 8px;
	display: inline-block;
	border: 1px solid transparent;
}
.profile-sec .social-list ul li a:hover {
    border-color: var(--primary);
}

/* responsive */
@media screen and (min-width:1400px) {
    p {
        font-size: 18px;
    }
    .main-heading {
        font-weight: 600;
        font-size: 72px;
        line-height: 84px;
    }
}